.wrapper {
  width:860px;
  margin:0 auto;
}

.wrapper ul{
  padding: 2rem 3.5rem;
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(247, 247, 247);
}

.main-content {
  margin-top: 2rem;

  h1 {
    text-align: center;
    font-size: 6rem;
    margin: 2rem 0 3rem;
    text-shadow: 2px 2px rgb(109, 198, 145);
  }
}

.current-projects {
  ul {
    background-color: transparent;
    border: none;
    padding: 0;
    list-style: none;
  }

  li {
    width: 30%;
    min-width: 200px;
    display: inline-block;
  }

  li a {
    display: block;
    padding: 1rem;
    background-color: #F6F6F6;
    height: 152px;
  }
}

@media print, screen and (max-width: 480px) {
  .current-projects li {
    width: 100%;
  }
}
