---
# Only the main Sass file needs front matter (the dashes are enough)
---

$green: #6DC691;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "styles",
        "header",
        "content";

.lede {
  margin: 0px auto 40px;
  text-align: center;
  font-size: 24px;
  color: #6DC691;
}