<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Octobuild</title>

    <!-- <link rel="stylesheet" href="{{ site.path }}/stylesheets/main.css"> -->
    <link rel="stylesheet" href="{{ "/stylesheets/main.css" | prepend: site.baseurl }}">

    <!-- <link rel="stylesheet" href="{{ site.path }}/stylesheets/pygment_trac.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="profile" href="http://osprotocol.com" />
    <meta property="os:repo" content="https://github.com/RichardLitt/octobuild" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:RichardLitt/octobuild.git" />
    <meta property="os:issue" content="https://github.com/RichardLitt/octobuild/issues" />
    <meta property="os:branch" content="gh-pages" />

    <meta name="author" content="Richard Littauer">
    <meta name="copyright" content="MIT &copy; Richard Littauer 2015">
    <meta name="description" content="Octobuild: Build Your October Project">

    <meta property="og:description" content="Octobuild: Build Your October Project" />
    <meta property="og:url" content="http://octobuild.com/" />
    <meta property="og:site_name" content="Octobuild" />
    <meta property="og:title" content="Octobuild" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://octobuild.com/assets/octobuildpus.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Octobuild">
    <meta name="twitter:description" content="Octobuild: Build Your October Project">
    <meta name="twitter:image" content="http://octobuild.com/assets/octobuildpus.png">
    <meta name="twitter:url" content="http://octobuild.com">

  </head>
  <body>

    <div class="header">
      <img src="./octo.png" alt="Octobuild Octopus"/>
    </div>
    <div class="wrapper main-content">
      {{ content }}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="{{ "/javascripts/site.js" | prepend: site.baseurl }}"></script>
    <script src="{{ site.path }}/javascripts/scale.fix.js"></script>
              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); //jshint ignore:line
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-4124866-25");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

    <script>
    (function() {

      var getIssues = function(nextIssuesURL, issues) {
        $.get(nextIssuesURL, function(responseIssues, status, jqxhr) {
          var linksHeader = jqxhr.getResponseHeader('Link');
          if (linksHeader) {
            var nextIssuesURL = parse_link_header(linksHeader).next;
          }

          issues = issues.concat(responseIssues);

          if (nextIssuesURL) {
            getComments(nextIssuesURL, issues);
          } else {
            buildProjects(issues);
          }
        });
      };

      var buildProjects = function(allIssues){
        var projects_html = '';
        var template_item = _.template($('#project-list-item').html());

        var index_counter = 1;
        _.forEach(allIssues, function(issue) {
          projects_html += template_item({
            project_author: issue.user.login,
            project_title: issue.title,
            project_url: issue.html_url
          });
        });

        $('#projects').html('<ul>' + projects_html + '</ul>');

      };

      var issuesUrl = 'https://api.github.com/repos/RichardLitt/octobuild/issues?labels=project';
      var issues = [];

      getIssues(issuesUrl, issues);

      // $.get(issuesUrl, function(issues, status, jqxhr) {
      //     var comments = [{body: issue.body, html_url: issue.html_url}];


      //   }).fail(function(error){
      //     console.log('error', error.statusText, error.getAllResponseHeaders());
      //   });
    })();
  </script>
  <script id="project-list-item" type="text/template">
    <li>
      <a href="<%= project_url %>">
        <h3 class="title"><%= project_title %></h3>
        <span class="author">by <%= project_author %></span>
      </a>
    </li>
  </script>

  </body>
</html>
